:root {
   --background-color: #7e52f5;
   --color1: #357b70;
   --color2: #05676e;
   --color3: #489c79;
   --color4: red;
   --background-color1: #357b70;
   --fill1: #edc655;
   --fill2: #fcffad;
   --fill3: #f76414;
}
.header {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 98%;
padding: 20px;
}

.header_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.header_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.nav_list {
  list-style-type: none;
}

    .nav_list li {
    display: inline-block;
    margin-left: 15px;
  }

.profile {
  float: left;
  height: 15%;
  width: 15%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin: 10px;

}
body {
  min-height: 100vh;
    background-color: var(--background-color);
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 400;
    }

.opener {
  text-align: center;
}

.alignment {
  text-align: center;
}
.content {
  display: inline-block;
}

a {
  color: var(--color1);
}

a:visited {
  /* visited link */
  color: var(--color2);
}

ul {
  list-style-type: none;
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--color3);
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--background-color1);
  /*color: var(--color4);*/
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.footer {
  position: sticky;
  top: 100%;
  background-color: pink;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
/*grid css on about page start*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid__item {
  background-color: var(--color4);
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
/*css for svg*/

/*change sun stat*/
@-webkit-keyframes color-change {
  0% {
    fill: var(--fill1);
  }
  50% {
    fill: var(--fill2);
  }
  100% {
    fill: var(--fill3);
  }
}
@keyframes color-change {
  0% {
    fill: var(--fill1);
  }
  50% {
    fill: var(--fill2);
  }
  100% {
    fill: var(--fill3);
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}
/*change sun end*/

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}